.nav {
	position: sticky;
	top: 0;
	z-index: 1000;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	background-color: white;
	border-bottom: 1px solid #eaeaea;
	padding: 15px 25px;

	> div {
		display: flex;
		align-items: center;
	}

	div:first-child {
		flex-grow: 1;
	}

	div:last-child {
		justify-content: flex-end;
	}

	a,
	span {
		margin-right: 15px;
	}

	.logo {
		border-radius: 8px;
		box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
			0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
	}
}
